---
- name: Setting Workstation
  hosts:  Web01-Ubuntu 
  become: yes
  
  vars:
    new_username: "tim"
    packages:
      - git
      - htop
    new_hostname: "server01"
    timezone: "Europe/Copenhagen"
    locale: "da_DK.UTF-8"

  tasks:
    - name: Update Packages
      apt:
        update_cache: yes
        upgrade: dist

    - name: Install Packages
      apt:
        name: "{{ packages }}"
        state: present

    - name: Add New User Tim
      user:
        name: "{{ new_username }}"
        shell: /bin/bash
        create_home: yes

    - name: Set Hostname to server01
      hostname:
        name: "{{ new_hostname }}"

    - name: Set Timezone
      timezone:
        name: "{{ timezone }}"

    - name: Set locale
      command: localectl set-locale LANG={{ locale }}

    - name: Install UFW (firewall)
      apt:
        name: ufw
        state: present

    - name: Start UFW
      service:
        name: ufw
        state: started
        enabled: yes

    - name: Enable UFW
      command: ufw --force enable

    - name: Allow all access on SSH and HTTP
      ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - '22'
        - '80'

    - name: Start ufw Service
      service:
        name: ufw
        state: started
        enabled: yes
